<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${user.getEmail()}"></title>
</head>
<center>
<body>
    <h1 th:text="'Hello, ' + ${user.getEmail()} + '!'"></h1>
    <h3 th:text="${user.getApiKeys().size()} == 0 ? 'You dont have api-keys:(' : 'Your api-keys:'"></h3>

    <div th:if="${user.getApiKeys()} != null" th:each="key : ${user.getApiKeys()}">
        <p th:text="${key.getValue()}"/>
        <form th:method="post" th:action="@{/profile/remove_apikey}">
            <input type="hidden" name ="apikey_id" th:value="${key.getId()}">
            <input type="submit" value="Remove this key">
        </form>
    </div>
    <br/>
    <form th:method="post" th:action="@{/profile/create_apikey}" th:object="${apikey}">
    <input type="submit" value="Create Api-key">
    </form>

    <h3>
        <a href="/">Back to news</a>
        <br>
        <a href="/logout">Log Out</a>
    </h3>
</body>
</center>
</html>