.body {
    background: linear-gradient(to right, #ffffff, #fffa00) no-repeat fixed;
}
.news {
    background: linear-gradient(to right, #ffffff, #fffa00) no-repeat fixed;
    font-family: "Calibri Light", serif;
    font-size: 15px
}